:root {
  --color: #18333E;
  --serif: 'Baloo 2', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 1356px;
  margin: 0;
}

body {
  background-color: #F2F8FD;
}

.grid {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 207px 1fr;
  grid-template-rows: 131px 1fr 119px;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
}


header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header {
  padding-top: 23px;
  padding-left: 25px;
}

header a {
  padding-right: 122px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  position: relative;
}

form::before {
  content: "";
  background-image: url(img/search-normal.png);
  background-repeat: no-repeat;
  background-position: left;
  pointer-events: none;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
}

input {
  margin-right: 25px;
  width: 634px;
  height: 53px;
  background-color: #E9F1FA;
  border-radius: 26.5px;
  border: none;
  padding-left: 55px;
}

header img.filter {
  margin-right: 84px;
}

header img.location {
  margin-right: 14px;
}

header h5 {
  font-family: var(--serif);
  color: var(--color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

header img.bing {
  padding: 15px 16px;
  border: 1px solid #B4BCC4;
  border-radius: 50%;
  margin-right: 31px;
  margin-left: 58px;
}

.notification {
  position: relative;
}

.Circle {
  width: 9px;
  height: 9px;
  border: 1px solid #FF7F5C;
  border-radius: 50%;
  background-color: #FF7F5C;
  position: absolute;
  top: -6px;
  right: 29px;
}

aside {
  margin-left: 25px;
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

aside .row {
  margin-bottom: 20px;
}

aside .row a {
  display: flex;
  align-items: center;
}

aside a img {
  margin-right: 14px;
}

aside p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

aside .logout {
  padding-top: 20px;
  padding-bottom: 20px;
}

aside .logout a {
  display: flex;
  align-items: center;
}

aside .logout img {
  padding-right: 18px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .column h2 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: #18333E;
  margin: 0;
  padding-bottom: 17px;
}

main .choice {
  display: flex;
  flex-direction: row;
  gap: 57px;
  padding-bottom: 37px;
}

main .choice p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18333E;
  margin: 0;
}

main .games {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

main .game {
  position: relative;
}

main img.like {
  padding: 10px 11px 10px 11px;
  background-color: rgb(250, 250, 250, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 23px;
  right: 21px;
}

main .game h3 {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  margin: 0;
  color: #18333E;
  padding-top: 23px;
  padding-bottom: 7px;
}

main .row {
  display: flex;
  align-items: center;
}

main .row p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #18333E;
  margin: 0;
  margin-right: 20px;
  margin-left: 10px;
}

main .book {
  display: flex;
}